// Import color
@import './scssComponent/colors.scss';

/* -----Base Style----------------------------------- */
* {
    margin: 0 auto;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: $primary-background-color-2;
    opacity: 0.9;
    color: $primary-text-color;
}

ul {
    list-style: none;
}

/* -----Header Style----------------------------------- */
@import './scssComponent/header.scss';

/* -----Main Style------------------------------------- */
main {
    margin-top: 68px;
}

/* -----Home Style------------------------------------- */
@import './scssComponent/home.scss';