// Import color
@import './scssComponent/colors.scss';

// import screen media
@import './scssComponent/screenMedia.scss';

/* -----Base Style----------------------------------- */
* {
    margin: 0 auto;
    padding: 0;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: $primary-background-color-2;
    opacity: 0.9;
    color: $primary-text-color;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include media-container('sm-min') {
        max-width: 540px;
    }

    @include media-container('md-min') {
        max-width: 720px;
    }

    @include media-container('lg-min') {
        max-width: 960px;
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -----Header Style----------------------------------- */
@import './scssComponent/header.scss';

/* -----Main Style------------------------------------- */
main {
    margin-top: 68px;
}

/* -----Home Style------------------------------------- */
@import './scssComponent/home.scss';

/* -----About Style------------------------------------- */
@import './scssComponent/about.scss';

/* -----Experience Style------------------------------------- */
@import './scssComponent/experience.scss';

/* -----Education Style------------------------------------- */
@import './scssComponent/education.scss';

/* -----Projects Style------------------------------------- */
@import './scssComponent/projects.scss';

/* -----Contact Style------------------------------------- */
@import './scssComponent/contact.scss';

/* -----Footer Style------------------------------------- */
@import './scssComponent/footer.scss';