/* ----- About ------------------------------- */
.about__content {
  padding: 60px 0;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- About Image ------------------------------- */
.about__image {
  flex: 1;
  padding: 0 15px;
}

.about__image img {
  max-width: 100%;
  height: auto;
}

/* ----- About Info ------------------------------- */
.about__info {
  flex: 1;
  padding: 0 15px;
  padding-left: 50px;
}

.about__info h2 {
  margin: 20px 0;
  font-size: 2rem;
  line-height: 1.2;
}

.about__info p {
  margin-bottom: 30px;
}

.about__info .about__tags {
  margin: 10px 0;
}

.about__info .about__tags li {
  margin: 0 6px;
  margin-bottom: 10px;
  padding: 4px 0;
  display: inline-block;
}

.about__info .about__tags li span {
  border: 1px solid #0bceaf;
  padding: 4px 10px;
  border-radius: 4px;
}

.about__info a {
  margin-top: 20px;
  cursor: pointer;
  background-color: #0bceaf;
  padding: 8px 30px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 20px;
  display: inline-block;
}

.about__info a i {
  margin-left: 10px;
}
