$primary-text-color: #FFFFFF;
$primary-background-color-1: #212529;
$primary-background-color-2: #313741;
$secondary-background-color: transparent;
$secondary-color-1: #009688;
$secondary-color-2: #0bceaf;
$error-color: #ff4081