$primary-text-color: #FFFFFF;
$primary-background-color-1: #202026;
$primary-background-color-2: #100e17;
$secondary-background-color: transparent;
$secondary-color-1: #009688;
$secondary-color-2: #0bceaf;
$overlay-background-color: rgba(0, 0, 0, 0.8);
$photo-border-color: rgba(0, 0, 0, 0.9);
$img-border-color: rgba(0, 0, 0, 0.4);
$error-color: #ff4081;