/* ----- Title Template ------------------------------- */
.title {
  display: initial;
  padding: 0 15px;
  margin-bottom: 85px;
  text-align: center;
}

.title h2 {
  font-size: 2.8125rem;
  margin-bottom: 60px;
  background: linear-gradient(to right, #0bceaf, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----- Contact Title ------------------------------- */
/* ----- Contact Content Position ------------------------------- */
.contact-content {
  position: relative;
  width: 100%;
}

.contact-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact-form form {
  margin-left: 0;
  width: 100%;
}

.contact-img {
  position: relative;
}

.contact-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* ----- Form Structure ------------------------------- */
.form {
  width: 100%;
  margin-top: 50px;
}

.form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
  flex: 1;
  margin-right: 10px;
  padding: 20px;
  color: #FFFFFF;
  font-size: 1rem;
}

.form-submit {
  flex: 1;
  margin-right: 10px;
}

.form-submitMessage {
  flex: 1;
}

.contact-name,
.contact-email,
.contact-message {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.contact-name::placeholder,
.contact-email::placeholder,
.contact-message::placeholder {
  color: #ced4da;
}

.form-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #0bceaf;
  padding: 8px 30px;
  font-size: 1rem;
  color: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  opacity: 0.65;
}

.form-btn:hover {
  opacity: 1;
}

/* ----- @media ------------------------------- */
@media (max-width: 991px) {
  .contact-img {
    display: none;
  }
  .contact-form {
    width: 100%;
    position: relative;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-name {
    flex-basis: 100%;
  }
}
