// Import color
@import 'colors';

// import screen media
@import 'screenMedia';

// import title template
@import 'title';

/* ----- Contact Title ------------------------------- */
// using title template

/* ----- Contact Content Position ------------------------------- */
.contact-content {
    position: relative;
    width: 100%;
}

.contact-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    form {
        margin-left: 0;
        width: 100%;
    }
}

.contact-img {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

/* ----- Form Structure ------------------------------- */
.form {
    width: 100%;
    margin-top: 50px;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-row input,
.form-row textarea {
    flex: 1;
    margin-right: 10px;
    padding: 20px;
}

.form-submit {
    flex: 1;
    margin-right: 10px;
}

.form-submitMessage {
    flex: 1;
}

.contact-name,
.contact-email,
.contact-message {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $contact-form-border;
    border-radius: 0.25rem;
}

.contact-name::placeholder,
.contact-email::placeholder,
.contact-message::placeholder {
    color: $contact-form-border;
}

.form-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: $secondary-color-2;
    padding: 8px 30px;
    font-size: 1rem;
    color: $primary-text-color;
    border-radius: 20px;
    width: 100%;
    opacity: 0.65;
}

/* ----- @media ------------------------------- */
@include media-container('lg-max') {
    .contact-img {
        display: none;
    }

    .contact-form {
        width: 100%;
        position: relative;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-name {
        flex-basis: 100%;
    }
}