/* ----- Header ------------------------------- */
header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  z-index: 99;
  background-color: #100e17;
}

header.scrolled {
  background-color: #202026;
}

/* ----- Navigation Bar ------------------------------- */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* ----- Navbar ------------------------------- */
.navbar {
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

/* ----- Nav Logo ------------------------------- */
.fa-robot {
  color: #0bceaf;
  font-size: 2em;
  margin-right: 4px;
}

.text-logo {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0bceaf;
  padding: 2px 2px 2px 4px;
  border-radius: 4px;
}

/* ----- Nav Links ------------------------------- */
.navbar__links {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.navbar__links ul {
  list-style: none;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
}

.navbar__links ul li {
  margin: 0 1.25rem;
}

.navbar__links ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.67em;
  cursor: pointer;
  background-color: transparent;
}

.navbar__links ul li a:hover {
  color: #0bceaf;
}

.navbar__link.active {
  color: #FFFFFF;
  text-decoration: underline;
  text-underline-offset: 14px;
  text-decoration-color: #FFFFFF;
  text-decoration-style: solid;
  text-decoration-thickness: 1.8px;
}

/* ----- Hamburger Navbar ------------------------------- */
.navbar__toggle {
  display: none;
}

@media (max-width: 991px) {
  .navbar__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 24px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar__toggle span {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
  .navbar__links {
    display: none;
  }
  .navbar__logo {
    margin-left: 0px;
  }
  .overlay.visible {
    display: block;
  }
  .navbar__links {
    display: flex;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -320px;
    width: 320px;
    margin-top: 0px;
    padding: 0;
    background-color: #0bceaf;
    transition: transform 0.3s ease-in-out;
  }
  .navbar__links ul {
    flex-direction: column;
    padding-top: 50px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .navbar__links ul a {
    padding: 8px 0;
    display: block;
  }
  .navbar__links ul a:hover {
    color: #009688;
  }
  .navbar__links ul .navbar__link.active {
    text-decoration: none;
    border-bottom: 1.8px solid #FFFFFF;
  }
  .navbar__links.visible {
    transform: translateX(320px);
  }
}
