// Import color
@import 'colors';

// import screen media
@import 'screenMedia';

/* ----- Header ------------------------------- */
header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    z-index: 99;
    background-color: $primary-background-color-2;
}

header.scrolled {
    background-color: $primary-background-color-1;
}

/* ----- Navigation Bar ------------------------------- */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-background-color;
    z-index: 3;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include media-container('sm') {
        max-width: 540px;
    }

    @include media-container('md') {
        max-width: 720px;
    }

    @include media-container('lg') {
        max-width: 960px;
    }
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* ----- Navbar ------------------------------- */
.navbar {
    padding: 0.5rem 1rem;
    color: $primary-text-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* ----- Nav Logo ------------------------------- */
.fa-robot {
    color: $secondary-color-2;
    font-size: 2em;
    margin-right: 4px;
}

.text-logo {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: $primary-text-color;
    background-color: $secondary-color-2;
    padding: 2px 2px 2px 4px;
    border-radius: 4px;
}

/* ----- Nav Links ------------------------------- */
.navbar__links {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;

    ul {
        list-style: none;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        flex-direction: row;

        li {
            margin: 0 1.25rem;

            a {
                text-decoration: none;
                color: $primary-text-color;
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 1.67em;
                cursor: pointer;
                background-color: $secondary-background-color;
            }

            a:hover {
                color: $secondary-color-2;
            }

        }
    }
}

.navbar__link.active {
    color: $primary-text-color;
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-color: $primary-text-color;
    text-decoration-style: solid;
    text-decoration-thickness: 1.8px;
}

/* ----- Hamburger Navbar ------------------------------- */
.navbar__toggle {
    display: none;
}

@include media-hamburger('hamburger') {
    .overlay.visible {
        display: block;
    }

    .navbar__links {
        display: flex;
        z-index: 5;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -320px;
        width: 320px;
        margin-top: 0px;
        padding: 0;
        background-color: $secondary-color-2;
        transition: transform 0.3s ease-in-out;

        ul {
            flex-direction: column;
            padding-top: 50px;
            padding-right: 20px;
            margin-left: auto;
            margin-right: 0;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            a {
                padding: 8px 0;
                display: block;
            }

            a:hover {
                color: $secondary-color-1;
            }

            .navbar__link.active {
                text-decoration: none;
                border-bottom: 1.8px solid $primary-text-color;
            }
        }
    }

    .navbar__links.visible {
        transform: translateX(320px);
    }
}