/* ----- Home ------------------------------- */
.home__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 180px 0;
}

/* ----- Home Info ------------------------------- */
.home__info {
  padding: 0 15px;
  flex: 1;
}

.home__info .bubble-text {
  background-color: #0bceaf;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px 20px 20px 0;
  display: inline-block;
  margin-bottom: 30px;
}

.home__info h2 {
  font-size: 3.75rem;
  line-height: 65px;
  font-weight: 600;
  margin: 10px 0;
}

.home__info h4 {
  font-size: 1.625rem;
  line-height: 34px;
  margin-bottom: 30px;
}

.home__info .home__contact-info {
  margin: 20px 0;
}

.home__info .home__contact-info li {
  margin: 10px 0;
}

.home__info .home__contact-info li i {
  margin-right: 15px;
  display: inline-block;
  font-size: inherit;
}

.home__info .home__contact-info li a {
  color: inherit;
  padding: 0;
  background: transparent;
  opacity: 0.9;
}

.home__info .home__social-icon li {
  display: inline-block;
}

.home__info .home__social-icon li a {
  text-align: center;
  cursor: pointer;
}

.home__info .home__social-icon li a i {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  padding: 4px 14px;
  margin-right: 10px;
  border-radius: 3px;
}

/* ----- Home Photo ------------------------------- */
.home__photo {
  flex: 1;
}

.home__photo .photo-border {
  margin: 0 auto;
  border: 20px solid rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.home__photo .photo-border img {
  border: 20px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  float: none;
  text-align: center;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ----- Home Section Media ------------------------------- */
@media (max-width: 767px) {
  .home__content .home__photo {
    order: -1;
  }
  .home__content .home__info {
    text-align: center;
    margin-top: 40px;
  }
}
