// Import color
@import 'colors';

// import screen media
@import 'screenMedia';

// import title template
@import 'title';

/* ----- Projects Title ------------------------------- */
// using title template

/* ----- Projects Nav ------------------------------- */
.projects__nav {
    margin-bottom: 50px;

    ul {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            cursor: pointer;

            span {
                border-bottom: 2px solid transparent;
                padding: 15px 0;
            }
        }

        li.current {
            span {
                border-bottom: 2px solid $secondary-color-2;
            }
        }
    }
}

/* ----- Projects Items ------------------------------- */
.grid-container {
    width: 100%;
    columns: 3;
    column-gap: 10px;
}

.grid-item {
    padding: 5px;
    border: 1.8px solid $secondary-color-2;
    margin-bottom: 10px;
    break-inside: avoid;
    border-radius: 8px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
}

.single-project {
    position: relative;
}

.project__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $project-img-cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    i,
    h4,
    span {
        margin-bottom: 10px;
    }

    i {
        font-size: 1.5rem;
        line-height: 35px;
    }

    h4 {
        font-size: 1.333rem;
        line-height: 30px;
    }

    span {
        font-size: 0.928rem;
        opacity: 0.8;
    }
}

.single-project:hover .project__hover {
    opacity: 1;
}

/* ----- Overlay Container ------------------------------- */
.projects__overlay-container {
    display: none;
}

.projects__overlay-container.active {
    display: block;
}

/* ----- @media ------------------------------- */
// when the screen size is smaller then 991px,
// change the project gallery column 3 to column 2
@include media-container('lg-max') {
    .grid-container {
        columns: 2;
    }
}

// when the screen size is smaller then 767px,
// change the project gallery column 2 to column 1
@include media-container('md-max') {
    .grid-container {
        columns: 1;
    }
}
