// screen size breakpoint
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

// media-container mixin
@mixin media-container($breakpoint) {
    @if $breakpoint =='sm' {
        @media (min-width: $screen-sm) {
            @content;
        }
    }

    @else if $breakpoint =='md' {
        @media (min-width: $screen-md) {
            @content;
        }
    }

    @else if $breakpoint =='lg' {
        @media (min-width: $screen-lg) {
            @content;
        }
    }
}

